.success {
  background-color: rgb(3, 250, 3, 0.2);
  color: green;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.closeButton {
  background-color: aqua;
  float: right;
}
.error {
  background-color: rgba(250, 3, 3, 0.2);
  color: red;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.closeButton {
  background-color: aqua;
  float: right;
}
